body
{
    width: 100%;
    height:110vh;
    background-image: linear-gradient(45deg, rgb(225, 22, 255), rgb(3, 255,171));background-attachment: fixed;
    margin: 0%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.principal
{
    width: 95%;
    height: 100%;
    background-color: #00f7ff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.usur
{
    width: 95%;
    height: 10%;
    background-color: #00000000;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.usuario
{
    width: 30%;
    height: 99%;
    background-color: aliceblue;
}
.adm
{
    margin: 0px;
    width: 95%;
    height: 20%;
    background-color: #000000;
}
.essabagaça
{
    margin: 0px;
    width: 95%;
    height: 40%;
    background-color: #00000000;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.mais1
{
    width: 100%;
    height: 20%;
    background-color: aliceblue;
}
.mais2
{
    width: 100%;
    height: 20%;
    background-color: aliceblue;

}
.mais3
{
    width: 100%;
    height: 20%;
    background-color: aliceblue;

}
.mais4
{
    width: 100%;
    height: 20%;
    background-color: aliceblue;

}
nav
    {
        width: 90%;
        height: 100%;
        margin-bottom: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        justify-items: center;
        align-content: center;
        align-items: center;
        transition: all .5s;
    }
    ul
    {
        width: 90%;
        height: 100%;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
.div1
{
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.car
{
    margin-top: 20px;
    width: 93%;
    height: 90px;
    background-color: rgba(240, 248, 255, 0);
    font-size: 80px;
    font-family: 'Fasthand', cursive;
    display:flex;  
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: rgb(232, 232, 232);
}
.div2
{
    width: 300px;
    height: 350px;
    margin: 45px;
    background-color:#36EEE0;
    border-radius:20px;
    display:flex;    
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 50px;
    font-family: 'Fasthand', cursive;
    color: red;
    box-shadow: 0px 0px 50px black;
}
.div3
{
    width: 300px;
    height: 350px;
    margin: 45px;
    background-color:#36EEE0;
    border-radius:20px;
    display:flex;    
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 45px;
    font-family: 'Fasthand', cursive;
    color: red;
    box-shadow: 0px 0px 50px black;
}
.let
{
    margin-left: 0%;
    width: 100%;
    height: 20%;
    background-color: #163c39;
    display:flex;    
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.divdiv2
{
    width: 100%;
    height: 400px;
    margin: 20px;
    background-color: #03ffea00;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.des
{
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.esc 
{
    width: 80%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.div2:hover{
   background-color: #72e0d7;
}
.cabecalho {
    background-color:rgb(14, 14, 14);
    background-size: cover;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    animation: descer 0.5s;
    z-index: 2;
  }
  
  .cabecalho1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  
  .cabecalho2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  
  .cabecalho3 {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .endireitador
  {
    width: 45px;
    height: 99%;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .sorvelivery {
    margin-top: 0px;
  }
  
  .logo {
    margin-top: 25px;
  }

input[type="checkbox"]
{
display: none;
}
input[type="checkbox"]:checked ~ nav
{
margin-bottom: 20px;
}
.fale_conoscodiv
    {
    position: absolute;
    top: 50%;
    left: 70%;
    background-color:black;
    width: 300px;
    height: 450px;
    display: flex;
    color: white;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    }
    
    .fale_conosco_texto
    {
    width: 110px;
    height: 22px;
    color: rgb(35, 200, 200) ;
    }
    .caixadetexto
    {
    width: 75%;
    height: 100%;
    margin-bottom: 5px;
    }
    .enviartexto
    {
    width: 15%;
    height: 125%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    }
    .resposta
    {
    background-color: rgb(41, 41, 41);
    width: 90%;
    height: 85%;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    display: flex;
    margin-bottom: 5px;
    }
    .row100
    {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 20px;
    }
::-webkit-scrollbar
{
width: 20px;
background-color: black;
}
::-webkit-scrollbar-track
{
border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background:rgb(8, 8, 8);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background: rgb(29, 29, 29);
}
a:visited
{
    color:rgb(35, 200, 200);
    box-shadow: 20xp 20px black;
    text-decoration: none;
}
a:link
{
    color:rgb(35, 200, 200);
    text-decoration: none;
    box-shadow: 20xp 20px black;
}
a:active
{
    color: rgb(35, 200, 200);
    box-shadow: 20xp 20px black;
    text-decoration: none;
}
a:hover
{
    color: brown;
    background-color: transparent;
    box-shadow: 20xp 20px black;
}

.pequenininha
{
    width: 45px;
    height: 50%;
    border-radius: 50%;
    background-color: #00ffea;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}
.pequenininha2
{
    width: 30%;
    height: 38%;
    border-radius: 50%;
    background-color: #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}
.Sair 
{
    width: 40%;
    height: 10%;
    margin: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.sair2
{
    width: 40%;
    height: 10%;
    margin: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.caixausu
{
    width: 250px;
    height: 200px;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    top: -20%;
    left:80%;
    background-color: #000000;
    z-index:1;
    border-style: solid;
    border:2px 2px  white;
    box-shadow: 5px 0px 45px rgb(255, 255, 255);

}
